.mat-form-field {
    width: 100%;
    padding-top: 1em !important;
}

.table-title {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    color: white;
    background-color: #3f51b5;
}

.table-container {
    width: 100%;

    .table-wrapper {
        overflow-x: auto;

        table {
            min-width: 640px;
            margin-bottom: 2em;

            .issue-id {
                cursor: pointer;
                text-decoration: underline;
                line-height: 1.2em;
                color: #ff4081;
            }

            .issue-summary {
                cursor: pointer;
            }
        }

        .single-table {
            margin-bottom: 0;
        }
    }
}

@media (min-width: 640px) {
    .table-container {
        .table-wrapper {
            overflow-x: initial;

            table {
                width: 100%;
            }
        }
    }
}
