<mat-spinner mode="indeterminate" class="spinner" *ngIf="loading"></mat-spinner>
<div class="issue-container" *ngIf="issue">
    <header>
        <h3>Issue details</h3>
        <div *ngIf="issue.informer._id === myUserInfo?._id && isLoggedIn">
            <mat-menu #issueOptions="matMenu" xPosition="before">
                <a *ngIf="issue.state === 'open'" [routerLink]="['./edit']" mat-menu-item>Edit issue</a>
                <button mat-menu-item (click)="deleteIssue(issue._id)">Delete issue</button>
                <button *ngIf="issue.state === 'open'" mat-menu-item
                    (click)="toggleIssueState(issue._id, 'closed')">Close issue</button>
                <button *ngIf="issue.state === 'closed'" mat-menu-item
                    (click)="toggleIssueState(issue._id, 'open')">Re-open issue</button>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="issueOptions">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </header>
    <div class="basic-info">
        <p class="summary">
            <span>Summary: </span>
            {{issue.summary}}
        </p>
        <div class="left-column">
            <p>
                <span>Issue ID: </span>
                {{issue.id}}
            </p>
            <p>
                <span>State: </span>
                {{issue.state}}
            </p>
            <p>
                <span>Severity: </span>
                {{issue.severity}}
            </p>
            <p>
                <span>Priority: </span>
                {{issue.priority}}
            </p>
            <p>
                <span>Project: </span>
                {{issue.project.name}}
            </p>
            <p class="tags">
                <span>Tags: </span>
                {{issue.tags}}
            </p>
        </div>
        <div class="right-column">
            <p>
                <span>Informer: </span>
                <a [routerLink]="['/user', issue.informer._id]">
                    {{issue.informer.name}}
                </a>
            </p>
            <p>
                <span>Category: </span>
                {{issue.category}}
            </p>
            <p>
                <span>Creation date: </span>
                {{issue.creation_date * 1000 | date:'d/MMM/yy H:mm'}}h
            </p>
            <p *ngIf="issue.modification_date">
                <span>Modification date: </span>
                {{issue.modification_date * 1000 | date:'d/MMM/yy H:mm' : ''}}h
            </p>
            <p>
                <span>OS: </span>
                {{issue.os}}
            </p>
            <p>
                <span>Product version: </span>
                {{issue.product_version}}
            </p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <main class="main-info">
        <p>
            <span>Description: </span>
            <quill-view [content]="issue.description" format="text" theme="snow"></quill-view>
        </p>
        <p *ngIf="issue.steps_to_reproduce">
            <span>Steps to reproduce: </span>
            <quill-view [content]="issue.steps_to_reproduce" format="text" theme="snow"></quill-view>
        </p>
    </main>
</div>
<!-- Comments -->
<section class="comments" *ngIf="issue">
    <header>Comments</header>
    <app-comment *ngFor="let comment of issue.comments" [issueState]="issue.state" [comment]="comment"
        [myUserInfo]="myUserInfo" [isLoggedIn]="isLoggedIn"></app-comment>
    <p *ngIf="issue.comments.length === 0" class="no-comments">No comments yet</p>
    <header>New comment</header>
    <form *ngIf="issue.state === 'open'; else issueIsClosed" [formGroup]="newCommentForm"
        (ngSubmit)="handleNewComment()">
        <quill-editor (onEditorCreated)="getEditorInstance($event)" theme="snow" formControlName="textarea">
        </quill-editor>
        <button mat-raised-button color="primary" class="send-comment"
            [disabled]="!isValidComment">{{sendingComment ? 'Sending...' : 'Send comment'}}</button>
    </form>
    <ng-template #issueIsClosed>
        <p>Can't post new comments since this issue is closed.</p>
    </ng-template>
</section>