.spinner {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin-top: 2em;
    }
}

.issue-container {
    box-shadow: 1px 1px 2px #c5cacc;
    border-radius: 3px;
    overflow: hidden;

    > header {
        box-sizing: border-box;
        width: 100%;
        padding: 0.5em 1em;
        font-size: 1.2em;
        background-color: #3f51b5;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            margin: 0;
        }
    }

    .basic-info {
        background-color: white;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "summary summary" "leftColumn rightColumn";
        padding: 1em;

        p span {
            font-weight: 500;
        }

        .summary {
            grid-area: summary;
        }

        .left-column {
            grid-area: leftColumn;
        }

        .right-column {
            grid-area: rightColumn;
        }

        .action-buttons {
            grid-area: actionButtons;
            justify-self: flex-end;
        }

        .edit-issue,
        .delete-issue {
            width: min-content;
        }
    }

    .main-info {
        padding: 1em;
        background-color: white;

        p span {
            font-weight: 500;
        }
    }
}

.comments {
    > header {
        box-sizing: border-box;
        width: 100%;
        padding: 1em;
        margin-top: 1.5em;
        font-size: 1.2em;
        border-bottom: 1px solid #3f51b5;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        color: #3f51b5;
        // background-color: #e3f1ff;
        background-color: #a9bdff;
        box-shadow: 1px 0px 2px #c5cacc;
    }

    .send-comment {
        margin-top: 1.5em;
    }

    .no-comments,
    .cant-post {
        margin: 1em 0.5em;
    }
}
