.container {
    height: 100%;
}

.sidenav {
    min-width: 250px;
    width: 18vw;
}

.main-content {
    padding: 0.5em;
    box-sizing: border-box;
}
.menu-button {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 1000;
}

@media (min-width: 960px) {
    .main-content {
        padding: 1.5em 2em;
    }
}
