<div class="spinner" *ngIf="loading">
    <mat-spinner mode="indeterminate"></mat-spinner>
    <p>It might take a while the first time...</p>
</div>
<div class="user-container" *ngIf="userData">
    <section class="user-main">
        <div class="img-container">
            <img [src]="userData.picture" alt="userData.name image" />
        </div>
        <div class="user-main-info">
            <h3>{{userData.name}}</h3>
            <p>Comments: {{userData.comments.length}}</p>
            <p>Issues: {{userData.issues.length}}</p>
        </div>
    </section>
    <mat-tab-group>
        <mat-tab label="Comments">
            <mat-card *ngFor="let comment of userData.comments">
                <quill-view [content]="comment.text" theme="snow"></quill-view>
                <mat-card-content>Issue id:
                    <a [routerLink]="['/issues', comment.issue._id]">
                        {{comment.issue.id}}
                    </a>
                </mat-card-content>
                <mat-card-content>
                    {{comment.modification_date * 1000 || comment.creation_date * 1000 | date : 'dd/MMM/yy hh:mm'}}h
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab label="Issues">
            <mat-card *ngFor="let issue of userData.issues" class="issue-card" [routerLink]="['/issues', issue._id]">
                <mat-card-title>{{issue.summary}}</mat-card-title>
                <mat-card-content>Priority: {{issue.priority}}</mat-card-content>
                <mat-card-content>Severity: {{issue.severity}}</mat-card-content>
                <mat-card-content>Last update:
                    {{issue.modification_date * 1000 || issue.creation_date * 1000 | date : 'dd/MMM/yy hh:mm'}}h
                </mat-card-content>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>