<mat-toolbar color="primary">
    BugTracker
</mat-toolbar>
<mat-nav-list>
    <a mat-list-item [routerLink]="['/']" routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{ exact: true }">
        Home
    </a>
    <a mat-list-item [routerLink]="['/issues']" routerLinkActive="router-link-active">
        Issues
    </a>
    <a mat-list-item [routerLink]="['/login']" routerLinkActive="router-link-active">
        Login
    </a>
    <a mat-list-item [routerLink]="['/register']" routerLinkActive="router-link-active">
        Register
    </a>
</mat-nav-list>