<article class="comment" #commentElem>
    <aside class="user-info">
        <div class="user-pic-container">
            <img [src]="comment.author.picture" [alt]="comment.author.name + '\'s picture'" />
        </div>
        <a [routerLink]="['/user', comment.author._id]">{{comment.author.name}}</a>
    </aside>
    <div class="comment-info">
        <p>#{{commentIndex}}</p>
        <p>Posted {{comment.creation_date * 1000 | date:'d/MMM/yy H:mm'}}h</p>
        <p *ngIf="comment.modification_date">Modified {{comment.modification_date * 1000 | date:'d/MMM/yy H:mm'}}h</p>
    </div>
    <main class="comment-text">
        <quill-view *ngIf="!editingComment" [content]="comment.text" theme="snow"></quill-view>
        <quill-editor *ngIf="editingComment" [(ngModel)]="comment.text" theme="snow">
        </quill-editor>
    </main>
    <div [ngClass]="{'comment-options': true, 'show': editingComment}"
        *ngIf="issueState === 'open' && myUserInfo?._id === comment.author._id && isLoggedIn">
        <button *ngIf="!editingComment" mat-raised-button color="accent" (click)="enableCommentEdit()">Edit</button>
        <button *ngIf="!editingComment" mat-raised-button color="warn" (click)="handleDeleteComment()">Delete</button>
        <button *ngIf="editingComment" mat-raised-button color="accent" (click)="disableCommentEdit()">Cancel
            edit</button>
        <button *ngIf="editingComment" mat-raised-button color="primary"
            (click)="handleSubmitEditedComment($event)">Submit edit</button>
    </div>
</article>